*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0.16rem;
    font-family: "SF Pro SC","SF Pro Display","SF Pro Icons","PingFang SC","Helvetica Neue","Helvetica","Arial",sans-serif;

}
a{
    text-decoration: none;
}
img{
    border: none;
}